@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
}

@media (min-width:280px) and (max-width: 480px) {

    /* HEADER Y NAV */
    header {
        background-color: rgba(72, 4, 75, 0.404);
        height: 70px;
        display: flex;
        align-items: center;
        box-shadow: 0px 5px 50px black;
        justify-content: space-between;
    }

    header .logo {
        color: #fff;
        padding: 20px;
        transition: 2s;
        text-decoration: none;
        font-size: 25px;
    }

    header .logo:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    header .navbar {
        display: none;
    }

    header .nav {
        padding: 20px;
        font-size: 25px;
    }

    /* RELLENO DE SOBRE MI */
    .container-relleno .relleno {
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01s));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        width: 90%;
        height: 250px;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 10px 0px 0px 0px
    }

    .container-relleno .relleno .textos-relleno {
        font-weight: 300;
        display: flex;
        margin-left: 10px;
        margin-right: 15px;
        flex-direction: column;
    }


    .container-relleno .relleno .textos-relleno h3 {
        color: #fff;
        font-size: 13px;
        margin-top: 25px;
        text-align: center;
    }

    .container-relleno .relleno .textos-relleno p {
        color: #ededed;
        margin-top: 10px;
        font-size: 15px;
        overflow: hidden;
    }

    /* GRID DE HABILIDADES */

    main .habilidades h2 {
        color: #fff;
        font-size: 30px;
        text-shadow: 0 0 5px black;
        display: flex;
        justify-content: center;
        margin: 50px;
        font-weight: 700;
    }

    main .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit,
                minmax(220px, 1fr));
        gap: 16px;
        margin: 0 auto;
    }

    main .galeria img {
        width: 220px;
        height: auto;
        background-color: grey;
        padding: 20px;
        margin: 30px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        transition: 2s;
    }

    main .galeria img:hover {
        transform: scale(1.2);
    }

    form {
        margin: 100px 10px;
        padding: 20px 25px;
        box-shadow: 0 0 20px black;
        border-radius: 20px;
        text-align: center;
        width: auto;
        height: auto;
    }

    .input-grupo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    form h2 {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 25px;
    }

    form label {
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    input,
    textarea {
        color: #fff;
        margin-bottom: 30px;
        background-color: #ededed;
        width: 100%;
        
    }

    input#name {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
        
    }
    input#phone {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    input#email {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    textarea#mensaje {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }

    .form-text {
        margin-top: 30px;
        text-align: center;
    }

    .form-text a {
        color: #fff;
        text-decoration: none;
        margin-right: 30px;
    }

    form .btn {
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        background-color: grey;
        transition: 2s;
    }

    form .btn:hover{
        background-color: red;
        color: #fff;
    }


    /* FOOTER */
    .pie-pagina {
        background-color: #0f0c29;
        position: absolute;
        box-shadow: -10px -20px 50px rgb(0 0 0);
        height: 80px;
        bottom: 0;
        width: 100%;

    }

    .pie-pagina .grupo-1 {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

    .pie-pagina .grupo-1 .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .logo-footer a {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        margin-left: 20px;
    }

    .pie-pagina .grupo-1 .box-redes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 15px;
        margin-right: 20px;
    }

    .pie-pagina .grupo-1 .box-redes h2 {
        color: #fff;
        font-size: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .pie-pagina .grupo-1 .box-redes .red-social {
        display: flex;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
        border-radius: 100px;
        font-size: 10px;
        margin: 5px;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a:hover {
        color: red;
    }

    .pie-pagina .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 8px;
        padding: 20px;
        padding-left: 25px;
    }

}

/* TEXTOS HEADER INDEX */
.textos-header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 160px;
}

.textos-header .titulo h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 3px black;

}

.textos-header .titulo span {
    font-size: 18px;
    font-weight: 300;
    text-transform: none;
    display: block;
}

.textos-header .titulo p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    font-size: 10px;
    padding: 10px;

}


.info img {
    height: 200px;
    width: auto;
    display: flex;
    margin: 0 auto;
    border-radius: 100px;
}

.contenedor .info .datos {
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

@media (min-width:480px) and (max-width:768px) {


    /* HEADER Y NAV */
    header {
        background-color: rgba(72, 4, 75, 0.404);
        height: 70px;
        box-shadow: 0px 5px 50px black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navbar {
        display: none;
    }

    header .logo {
        color: #fff;
        padding: 20px;
        transition: 2s;
        text-decoration: none;
        font-size: 25px;
    }

    header .logo:hover {
        cursor: pointer;
        transform: scale(1.1);
    }


    header .nav {
        padding: 20px;
        font-size: 25px;
    }

    /* INFO EN INDEX */

    .contenedor .info {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }


    .contenedor {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contenedor .info img {
        height: 180px;
        margin-left: 10px;
    }

    .contenedor .info .datos {
        font-size: 15px;
    }

    /* RELLENO EN SOBRE MI */
    .container-relleno .relleno {
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01s));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        width: 90%;
        height: 250px;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 10px 0px 0px 0px
    }

    .container-relleno .relleno .textos-relleno {
        font-weight: 300;
        display: flex;
        margin-left: 10px;
        margin-right: 15px;
        flex-direction: column;
    }


    .container-relleno .relleno .textos-relleno h3 {
        color: #fff;
        font-size: 19px;
        margin-top: 25px;
        text-align: center;
    }

    .container-relleno .relleno .textos-relleno p {
        color: #ededed;
        margin-top: 10px;
        font-size: 18px;
        overflow: hidden;
    }

    /* GRID EN HABILIDADES */
    main .habilidades h2 {
        color: #fff;
        font-size: 30px;
        text-shadow: 0 0 5px black;
        display: flex;
        justify-content: center;
        margin: 50px;
        font-weight: 700;
    }

    main .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit,
                minmax(220px, 1fr));
        gap: 16px;
        margin: 0 auto;
    }

    main .galeria img {
        width: 220px;
        height: auto;
        background-color: grey;
        padding: 20px;
        margin: 30px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        transition: 2s;
    }

    main .galeria img:hover {
        transform: scale(1.2);
    }

    form {
        margin: 100px 20px;
        padding: 20px 25px;
        box-shadow: 0 0 20px black;
        border-radius: 20px;
        text-align: center;
        width: auto;
        height: auto;
    }

    .input-grupo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    form h2 {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 25px;
    }

    form label {
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    input,
    textarea {
        color: #fff;
        margin-bottom: 30px;
        background-color: #ededed;
        width: 100%;
        
    }

    input#name {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
        
    }
    input#phone {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    input#email {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    textarea#mensaje {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }

    .form-text {
        margin-top: 30px;
        text-align: center;
    }

    .form-text a {
        color: #fff;
        text-decoration: none;
        margin-right: 30px;
    }

    form .btn {
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        background-color: grey;
        transition: 2s;
    }

    form .btn:hover{
        background-color: red;
        color: #fff;
    }

    /* FOOTER */
    .pie-pagina {
        background-color: #0f0c29;
        position: absolute;
        box-shadow: -10px -20px 50px rgb(0 0 0);
        height: 80px;
        bottom: 0;
        width: 100%;

    }

    .pie-pagina .grupo-1 {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

    .pie-pagina .grupo-1 .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .logo-footer a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        margin-left: 20px;
    }

    .pie-pagina .grupo-1 .box-redes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .pie-pagina .grupo-1 .box-redes h2 {
        color: #fff;
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .pie-pagina .grupo-1 .box-redes .red-social {
        display: flex;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 19px;
        height: 19px;
        line-height: 19px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
        border-radius: 100px;
        font-size: 12px;
        margin: 5px;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a:hover {
        color: red;
    }

    .pie-pagina .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 10px;
        padding: 20px;
        padding-left: 25px;
    }

}

@media (min-width:769px) and (max-width:1279px) {

    /* HEADER Y NAV */
    header {
        background-color: rgba(72, 4, 75, 0.404);
        height: 70px;
        box-shadow: 0px 5px 50px black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navbar {
        margin-right: 100px;
        align-items: center;
        margin-right: 10px;
    }

    header .navbar .nav-link {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        padding: 12px;
        text-decoration: none;
        font-weight: 600;
    }

    header .navbar .nav-link:hover {
        color: rgb(201, 41, 94);
    }

    header .logo {
        color: #fff;
        padding: 20px;
        transition: 2s;
        text-decoration: none;
        font-size: 25px;
    }

    header .logo:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    header .nav {
        display: none;
    }



    .textos-header {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 160px;
    }

    .textos-header .titulo h1 {
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0 0 3px black;

    }

    .textos-header .titulo span {
        font-size: 18px;
        font-weight: 300;
        text-transform: none;
        display: block;
    }

    .textos-header .titulo p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 300;
        font-size: 10px;
        padding: 10px;

    }



    /* INFO EN INDEX */
    .contenedor {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contenedor .info {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }

    .contenedor .info img {
        height: 250px;
        margin-left: 10px;
        border-radius: 180px;
    }

    .contenedor .info .datos {
        font-size: 20px;
    }


    /* RELLENO EN SOBRE MI */
    .container-relleno .relleno {
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01s));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        width: 90%;
        height: 250px;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 10px 0px 0px 0px
    }

    .container-relleno .relleno .textos-relleno {
        font-weight: 300;
        display: flex;
        margin-left: 10px;
        margin-right: 15px;
        flex-direction: column;
    }


    .container-relleno .relleno .textos-relleno h3 {
        color: #fff;
        font-size: 20px;
        margin-top: 25px;
        text-align: center;
    }

    .container-relleno .relleno .textos-relleno p {
        color: #ededed;
        margin-top: 10px;
        font-size: 18px;
        overflow: hidden;
    }

    /* GRID EN HABILIDADES */
    main .habilidades h2 {
        color: #fff;
        font-size: 30px;
        text-shadow: 0 0 5px black;
        display: flex;
        justify-content: center;
        margin: 50px;
        font-weight: 700;
    }

    main .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit,
                minmax(220px, 1fr));
        gap: 16px;
        margin: 0 auto;
        max-width: 800px;
    }

    main .galeria img {
        width: 220px;
        height: auto;
        background-color: grey;
        padding: 20px;
        margin: 30px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        transition: 2s;
    }

    main .galeria img:hover {
        transform: scale(1.2);
    }

    form {
        margin: 100px auto;
        padding: 20px 25px;
        box-shadow: 0 0 20px black;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
        width: 500px;
        height: auto;
    }

    .input-grupo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    form h2 {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 25px;
    }

    form label {
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    input,
    textarea {
        color: #fff;
        margin-bottom: 30px;
        background-color: #ededed;
        width: 100%;
        
    }

    input#name {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
        
    }
    input#phone {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    input#email {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    textarea#mensaje {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }

    .form-text {
        margin-top: 30px;
        text-align: center;
    }

    .form-text a {
        color: #fff;
        text-decoration: none;
        margin-right: 30px;
    }

    form .btn {
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        background-color: grey;
        transition: 1s;
    }

    form .btn:hover{
        background-color: red;
        color: #fff;
    }

    /* FOOTER */
    .pie-pagina {
        background-color: #0f0c29;
        position: absolute;
        box-shadow: -10px -20px 50px rgb(0 0 0);
        height: 100px;
        bottom: 0;
        width: 100%;

    }

    .pie-pagina .grupo-1 {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .pie-pagina .grupo-1 .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .logo-footer a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }

    .pie-pagina .grupo-1 .box-redes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
    }

    .pie-pagina .grupo-1 .box-redes h2 {
        color: #fff;
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .pie-pagina .grupo-1 .box-redes .red-social {
        display: flex;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
        border-radius: 100px;
        font-size: 13px;
        margin: 5px;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a:hover {
        color: rgb(201, 41, 94);
    }

    .pie-pagina .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 15px;
    }
}

@media (min-width:1280px) {
    header {
        background-color: rgba(72, 4, 75, 0.404);
        height: 70px;
        box-shadow: 0px 5px 50px black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navbar {
        margin-right: 100px;
        align-items: center;
        margin-right: 10px;
    }

    header .navbar .nav-link {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        padding: 12px;
        text-decoration: none;
        font-weight: 600;
    }

    header .navbar .nav-link:hover {
        color: rgb(201, 41, 94);
    }

    header .logo {
        color: #fff;
        padding: 20px;
        transition: 2s;
        text-decoration: none;
        font-size: 25px;
    }

    header .logo:hover {
        cursor: pointer;
        transform: scale(1.1);
    }


    header .nav {
        display: none;
    }

    .textos-header {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 160px;
    }

    .textos-header .titulo h1 {
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0 0 3px black;

    }

    .textos-header .titulo span {
        font-size: 18px;
        font-weight: 300;
        text-transform: none;
        display: block;
    }

    .textos-header .titulo p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 300;
        font-size: 10px;
        padding: 10px;

    }

    .contenedor {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contenedor .info {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }

    .contenedor .info img {
        height: 250px;
        margin-left: 10px;
        border-radius: 180px;
    }

    .contenedor .info .datos {
        font-size: 20px;
    }

    .container-relleno .relleno {
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01s));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0f0c29, hsla(246, 55%, 10%, 0.01));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        width: 90%;
        height: 250px;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 10px 0px 0px 0px
    }


    .container-relleno .relleno .textos-relleno {
        font-weight: 300;
        display: flex;
        margin-left: 10px;
        margin-right: 15px;
        flex-direction: column;
    }


    .container-relleno .relleno .textos-relleno h3 {
        color: #fff;
        font-size: 25px;
        margin-top: 25px;
        text-align: center;
    }

    .container-relleno .relleno .textos-relleno p {
        color: #ededed;
        margin-top: 10px;
        font-size: 20px;
        overflow: hidden;
    }

    main .habilidades h2 {
        color: #fff;
        font-size: 30px;
        text-shadow: 0 0 5px black;
        display: flex;
        justify-content: center;
        margin: 50px;
        font-weight: 700;
    }

    main .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit,
                minmax(220px, 1fr));
        gap: 16px;
        margin: 0 auto;
        max-width: 800px;
    }

    main .galeria img {
        width: 220px;
        height: auto;
        background-color: grey;
        padding: 20px;
        margin: 30px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        transition: 2s;
    }

    main .galeria img:hover {
        transform: scale(1.2);
    }

    form {
        margin: 100px auto;
        padding: 20px 25px;
        box-shadow: 0 0 20px black;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
        width: 600px;
        height: auto;
    }

    .input-grupo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    form h2 {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 25px;
    }

    form label {
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    input,
    textarea {
        color: #fff;
        margin-bottom: 30px;
        background-color: #ededed;
        width: 100%;
        
    }

    input#name {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
        
    }
    input#phone {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    input#email {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }
    textarea#mensaje {
        background: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid red;
        outline: none;
    }

    .form-text {
        margin-top: 30px;
        text-align: center;
    }

    .form-text a {
        color: #fff;
        text-decoration: none;
        margin-right: 30px;
    }

    form .btn {
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        background-color: grey;
        transition: 1s;
    }

    form .btn:hover{
        background-color: red;
        color: #fff;
    }

    .pie-pagina {
        background-color: #0f0c29;
        position: absolute;
        box-shadow: -10px -20px 50px rgb(0 0 0);
        min-height: 100px;
        bottom: 0px;
        width: 100%;

    }

    .pie-pagina .grupo-1 {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .pie-pagina .grupo-1 .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .logo-footer a {
        text-decoration: none;
        color: #fff;
        font-size: 40px;
    }

    .pie-pagina .grupo-1 .box-redes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .pie-pagina .grupo-1 .box-redes h2 {
        color: #fff;
        font-size: 20px;
        display: flex;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .pie-pagina .grupo-1 .box-redes .red-social {
        display: flex;
        justify-content: center;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 35px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
        border-radius: 100px;
        font-size: 20px;
        margin: 5px;
    }

    .pie-pagina .grupo-1 .box-redes .red-social a:hover {
        color: rgb(201, 41, 94);
    }

    .pie-pagina .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
    }
}

.s-mi h2 {
    color: #fff;
    text-shadow: 0 0 5px Black;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-weight: 700;
}

.grilla {
    margin-top: 30px;
}

.grilla .row img {
    height: 230px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px black;
}


.estudios h2 {
    font-size: 30px;
    text-shadow: 0 0 5px black;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
}